doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Google platform
    style
      include ./style.css
  body
    .main2
      h1 How are you?
      div
        h3 Keep smile :D
        br
        img(src='https://img5.demotywatoryfb.pl//uploads/201907/1563262228_gdiqa0_600.jpg')
