doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Google platform
    style
      include ./style.css
  body
    .main2
      h1 Login Success !!! :)
      div
        h3 Keep smile :D
        br
        img(src='https://www.sklep.mleczko.pl/environment/cache/images/0_0_productGfx_e33592ebef2d4a3d5a5f289fdd0daa73.jpg')
